html{background-color:cornsilk;}

body {height: 100vh;}

h1{color:dodgerblue; 
text-align: center;
border-style: dashed;
border-radius: 9px;
border-width: 6px;
border-color: black;
box-shadow: 8px 8px black;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{color: dodgerblue;
text-align: center;
border-style:dashed;
border-radius: 7px;
border-width: 4px;
border-color: black;
box-shadow: 6px 6px black;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3{color: dodgerblue;
text-align: center;}

.book{height: 250px;
width: 600px;
margin: auto;
margin-top: 50px;
border-style: solid;
border-color: black;
border-width: 9px;
box-shadow: 10px 10px black;
}

.book > img{
height: 250px;
width: 250px;
}

.book > a {position: absolute;
margin: 70px;
margin-left: 85px;
font-size: 28px;
}

footer{position: relative;
float: right;
border-style: double;
border-width: 7px;
border-radius: 7px;
box-shadow: 7px 7px black;
border-color: black;
}
footer > a {margin: 20px;}